{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% block content %}


    <div class='flex justify-center mt-5 p-10'>
        <h2 class='text-3xl font-normal mb-2 text-gray-500'>My Posts</h2>
    </div>
    <div class='grid p-10 mx-60 grid-cols-1'>
        {% for post in posts %}
        <!--Card starts here-->
            <a href="#">
                <div class='flex justify-center'>
                <div class='rounded overflow-hidden w-[470px] h-[470px] bg-white shadow-2xl mb-4'>
                    <div class='user-container flex  mx-5 my-5 '>
                        <img class='h-10 w-10 rounded-full' src="{{post.user.profile.photo.url}}" alt="img">
                        <div class='mx-2 my-2 font-bold'><span class='text-gray-500'>{{post.user}}</span></div>
                    </div>
                    <img  src="{{post.image.url}}" alt="img" >
                    <div class='px-6 py-6'>
                        <div class='icon-container flex gap-3'>
                            <a id='{{ post.id }}' class='btn-like'>
                                {% if logged_user in post.liked_by.all %}
                                <img class='w-10 h-10' src="{% static 'accounts/images/redlike.png' %}" alt="">
                                {% else %}
                                <img class='w-10 h-10' src="{% static 'accounts/images/like.png' %}" alt="">
                                {% endif %}
                            </a>
                            <img class='w-10 h-10' src="{% static 'accounts/images/comment.png' %}" alt="">
                            <img class='w-10 h-10' src="{% static 'accounts/images/share.png' %}" alt="">
                        </div>
                    </div>
                    <div class='px-6'>
                        {% if post.liked_by.count < 1 %}
                        {% elif post.liked_by.count == 1 %}
                        {{ post.liked_by.first }} likes this
                        {% elif post.liked_by.count > 1 %}
                        {{ post.liked_by.first }} & {{post.liked_by.count|sub:1 }} other person likes this
                        {% endif %}
                    </div>
                    <div class='px-6 py-6'>
                        <div class='fony-bold text-xl mb-2'>{{post.title}}</div>
                        <p class='text-gray-700 text-base'>{{post.caption}}</p>
                    </div>
                    <div class='px-5 py-5'>
                        {% for comment in post.comments.all %}
                        <b>{{ comment.posted_by }}</b> : {{ comment.body}}
                        <br>
                        {% endfor %}
                    </div>
                    <div class='px-5 py-5'>
                        <form method='POST' class='bg-white shadow-md rounded'>
                            {% csrf_token %}
                            <div class='mb-2'>
                                <label  class='block text-grey-700 text-sm font-bold mb-2 m-5'>Add comment</label>
                            </div>
                            <div class='shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-700 m-5'>
                                {{ comment_form.body }}
                            </div>
                            <div class='mb-2 m-5'>
                                <input type='hidden' name='post_id' id='post_id' value='{{ post.id }}'>
                                <input type='hidden' name='posted_by' id='posted_by' value='{{ logged_user }}'>
                            </div>
                            <button class=' m-5 bg-green-500 text-white px-5 py-2' type='submit'>Add</button>
                        </form>
                    </div>
                </div>
                </div>
            </a>
        <!--Card ends here-->
        {% endfor %}
    </div>
    <script type='text/javascript'>
        window.CSRF_TOKEN = "{{ csrf_token }}" 
        $(document).on('click','.btn-like',function(){
            console.log(this.id);
            var post_id = this.id;
            $.ajax({
                method:"POST",
                url:'/posts/like',
                data:{post_id:post_id,csrfmiddlewaretoken:window.CSRF_TOKEN}
            });
            window.location.href="http://127.0.0.1:8000/posts/feed"
        })
    </script>
{% endblock  %}